name: TestExecute Installation test
run-name: TestExecute run from GitHub Action (${{ github.actor }})
on:
  push:
  
jobs:
  DownloadInstallAndRunTE:
    name: Install and Run TestExecute (${{ github.actor }})
    
    runs-on: windows-latest
    permissions: write-all
    steps:
      
      - name: Job Startup
        run: |
          echo "Starting job [Event=${{ github.event_name }}]"
          echo "This job is now running on a ${{ runner.os }} server hosted by GitHub!"
      - name: Download TestExecute
        run: |
          Invoke-WebRequest -Uri "${{ vars.TEST_EXECUTE_DOWNLOAD_URL }}" -o "./TestCompleteInstaller.exe"  
      - name: Show working folder content
        run: dir
        shell: cmd
      - name: Install TestExecute
        run: .\TestCompleteInstaller.exe > output.txt /SilentInstall /AccessKey:"${{ secrets.TEST_EXECUTE_ACCESS_KEY }}" /Timeout:1200 /log 
             echo "TestComplete is installed"
      - name : list the drirectory content
        run: |
          ls
          pwd
          cd ./
          echo "Hence TestComplete Istalled successfully"
      - name: Find TestComplete Installed files
        run : ls 'C:\Program Files (x86)\SmartBear\TestExecute 15\Bin'
      - name: Env Variable for TestExecute bin folder
        run: set PATH_TE="${{ vars.TEST_EXECUTE_BIN }}"
        shell: cmd

        
